/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');

.form {
  margin-top: 40px;
  gap: 8px;
  display: flex;
  justify-content: center;
}

.form-input {
  height: 40px;
  width: 264px;
  padding: 0 0 0 8px;
  box-sizing: border-box;
  letter-spacing: 1px;

  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: #808080;
}

.form-input:hover {
  border-color: black;
}

.form-input:active {
  border-color: #4e75ff;
}

.form-button {
  font-family: Montserrat;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1px;

  height: 40px;
  width: 91px;
  background-color: #4e75ff;
  color: #fff;
  border: none;
  border-radius: 8px;
}

.form-button:hover {
  background-color: #6c8cff;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.gallery-img {
  width: 360px;
  height: 152px;
}

.gallery-text-container {
  display: flex;
  justify-content: space-evenly;
}

.gallery-item {
  width: 360px;
  height: 200px;
  border: 1px solid #808080;
  cursor: pointer;
}

.gallery-text {
  text-align: center;
}

.gallery-title {
  font-family: Montserrat;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 4%;
  color: #2e2f42;
}

.gallery-sub-title {
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 4%;
  color: #2e2f42;
}

.load-more-container {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.loader-container {
  display: flex;
  justify-content: center;
}

.visible {
  visibility: visible !important;
}

.load-more {
  visibility: hidden;
}
  
.loader {
  width: 48px;
  height: 48px;
  border-width: 3px;
  border-style: dashed solid solid dotted;
  border-color: #ff3d00 #ff3d00 transparent #ff3d00;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  visibility: hidden;
}
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 20px;
  top: 31px;
  border: 10px solid transparent;
  border-right-color: #ff3d00;
  transform: rotate(-40deg);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
